.cache/
.corpus/
.nyc_output/
.temp/
_reports/
src/modules/index.cjs
src/modules/index.d.cts
src/modules/stateless.cjs
src/modules/stateless.d.cts
src/modules/testing.cjs
src/modules/testing.d.cts
.env
checksums.txt
crash-*

/*.d.cts
/*.d.ts

# ESLint
.eslintcache

# IDEs
.idea/
.vscode/

# Node.js
node_modules/
.npm/
.node_repl_history
npm-debug.log*
shescape-*.tgz
