# Ignore file for git (https://git-scm.com/docs/gitignore)

.cache/
.temp/
_reports/
src/index.cjs
src/stateless.cjs
src/testing.cjs
.env
checksums.txt
index.d.cts
index.d.ts
stateless.d.cts
stateless.d.ts
testing.d.cts
testing.d.ts

## ESLint
.eslintcache

## IDEs
.idea/
.vscode/

## Node.js
node_modules/
.npm/
.node_repl_history
npm-debug.log*
shescape-*.tgz
