# Ignore everything ...
/*

# Except what needs to be published
!docs/
!src/
!CHANGELOG.md
!index.cjs
!index.d.cts
!index.d.ts
!index.js
!package.json
!LICENSE
!README.md
!SECURITY.md
!stateless.cjs
!stateless.d.cts
!stateless.d.ts
!stateless.js
!testing.cjs
!testing.d.cts
!testing.d.ts
!testing.js
