# Ignore file for npm (https://docs.npmjs.com/cli/using-npm/developers)

/*

## Allowlist
!docs/
!src/
!CHANGELOG.md
!index.d.cts
!index.d.ts
!package.json
!LICENSE
!README.md
!SECURITY.md
!stateless.d.cts
!stateless.d.ts
!testing.d.cts
!testing.d.ts
