name: Audit (release)
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch: ~

permissions: read-all

jobs:
  v2:
    name: v2
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: v2
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Install Node.js
        uses: actions/setup-node@v4.3.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Insert release audit config
        env:
          NDMRC: ${{ vars.NDMRC }}
          NSPRC: ${{ vars.NSPRC }}
        run: |
          echo "${NDMRC}" | tee .ndmrc
          echo "${NSPRC}" | tee .nsprc
      - name: Audit for vulnerabilities
        run: npm run audit:vulnerabilities:runtime
      - name: Audit for deprecation warnings
        run: npm run audit:deprecations:runtime
