name: Audit
on:
  pull_request:
    paths:
      - .github/workflows/audit-dev.yml
      - config/dirty-waters.json
      - .ndmrc
      - .nsprc
      - package-lock.json
  push:
    branches:
      - main
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch: ~

permissions: read-all

jobs:
  deprecations:
    name: Deprecations
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Install Node.js
        uses: actions/setup-node@v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Audit for deprecations
        run: npm run audit:deprecations
  dirty-waters:
    name: Dirty Waters
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write # To comment on a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Run Dirty-waters analysis
        uses: chains-project/dirty-waters-action@v1.11.52
        with:
          allow_pr_comment: true
          comment_on_commit: false
          config: ./config/dirty-waters.json
          github_token: ${{ secrets.GITHUB_TOKEN }}
          gradual_report: false
          ignore_cache: false
          package_manager: npm
          specified_smells: --check-source-code --check-source-code-sha
          x_to_fail: 0
  heisenberg:
    name: Heisenberg
    runs-on: ubuntu-24.04
    if: ${{ github.event_name == 'pull_request' }}
    permissions:
      pull-requests: write # To comment on a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Run Heisenberg analysis
        uses: AppOmni-Labs/heisenberg-ssc-gha@v1.0.1
        with:
          package_file: package-lock.json
  vulnerabilities:
    name: Vulnerabilities
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Install Node.js
        uses: actions/setup-node@v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: npm clean-install
      - name: Audit for vulnerabilities
        run: npm run audit:vulnerabilities
