name: Unix
on:
  push:
    paths:
      - ./src/unix.js

permissions: read-all

jobs:
  fuzz:
    name: Fuzz
    uses: ericcornelissen/shescape/.github/workflows/reusable-fuzz.yml@main
    with:
      duration: 5m
      platform: unix
