name: Unix
on:
  pull_request:
    paths:
      - src/unix.js
  push:
    branches:
      - main

permissions: read-all

jobs:
  fuzz:
    name: Fuzz
    uses: ericcornelissen/shescape/.github/workflows/reusable-fuzz.yml@main
    with:
      duration: 5m
      platform: unix
