name: ghasum
on:
  push:
    branches:
      - dependabot/github_actions/**

permissions: read-all

jobs:
  update:
    name: Update gha.sum
    runs-on: ubuntu-24.04
    if: ${{ github.actor == 'dependabot[bot]' }}
    permissions:
      contents: write # To push a commit
    steps:
      - name: Create automation token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: automation-token
        with:
          app-id: ${{ secrets.AUTOMATION_APP_ID }}
          private-key: ${{ secrets.AUTOMATION_APP_PRIVATE_KEY }}
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.automation-token.outputs.token }}
      - name: Install ghasum
        uses: ./.github/actions/ghasum
        with:
          mode: install
      - name: Update gha.sum
        run: ghasum update
      - name: Commit gha.sum
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: Update ghasum checksums
          file_pattern: .github/workflows/gha.sum
