name: Labeler
on:
  pull_request_target: ~

permissions: read-all

jobs:
  label:
    name: Label
    permissions:
      pull-requests: write # To assign labels
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Set labels on Pull Request
        uses: actions/labeler@v6.0.0
        with:
          configuration-path: .github/labeler.yml
          sync-labels: false
