name: Lint
on:
  pull_request:
    paths:
      - "**.cjs"
      - "**.js"
      - "**.json"
      - "**.md"
      - "**.yml"
      - ".github/workflows/lint.yml"
      - "package-lock.json"
  push:
    paths:
      - "**.cjs"
      - "**.js"
      - "**.json"
      - "**.md"
      - "**.yml"
      - ".github/workflows/lint.yml"
      - "package-lock.json"

permissions: read-all

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@v1.4.4
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            y2oiacprodeus2file6.blob.core.windows.net:443
      - name: Check out code
        uses: actions/checkout@v3.0.2
      - name: Install Node.js
        uses: actions/setup-node@v3.3.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
  vet:
    name: Vet
    runs-on: ubuntu-latest
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@v1.4.4
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            registry.npmjs.org:443
            y2oiacprodeus2file6.blob.core.windows.net:443
      - name: Check out code
        uses: actions/checkout@v3.0.2
      - name: Install Node.js
        uses: actions/setup-node@v3.3.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Vet
        run: npm run vet
