name: Automated Releases
on:
  push:
    tags:
      - "v*"

jobs:
  check:
    name: Verify Release Validity
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.8.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Transpile to CommonJS
        run: npm run transpile
  release:
    name: Create GitHub Release
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Get release version
        id: tag_version
        uses: dawidd6/action-get-tag@v1
      - name: Get release text
        id: tag_text
        uses: ericcornelissen/git-tag-annotation-action@v1
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ steps.tag_version.outputs.tag }}
          body: ${{ steps.tag_text.outputs.git-tag-annotation }}
          draft: false
          prerelease: false
  package:
    name: Create NPM Release
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.8.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
