name: Fuzz
on:
  workflow_call:
    inputs:
      duration:
        required: true
        type: string
      platform:
        required: true
        type: string

permissions: read-all

jobs:
  determine-matrix:
    name: Determine matrix
    runs-on: ubuntu-20.04
    outputs:
      shells: ${{ steps.shells.outputs.result }}
    steps:
      - name: Determine shells to fuzz
        uses: actions/github-script@d556feaca394842dc55e4734bf3bb9f685482fa0 # v6.3.3
        id: shells
        with:
          result-encoding: json
          script: |
            const unix = ${{ contains(inputs.platform, 'unix') }}
            const windows = ${{ contains(inputs.platform, 'windows') }}
            return [
              ...(unix ? [
                "/bin/bash",
                "/bin/dash",
                "/bin/zsh",
              ] : []),
              ...(windows ? [
                "cmd.exe",
                "powershell.exe",
              ] : []),
            ]
  fuzz:
    name: ${{ matrix.shell }} (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    needs:
      - determine-matrix
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - windows-2022
        shell: ${{ fromJSON(needs.determine-matrix.outputs.shells) }}
        target:
          - exec
          - exec-file
          - fork
          - spawn
        exclude:
          - os: ubuntu-20.04
            shell: cmd.exe
          - os: ubuntu-20.04
            shell: powershell.exe
          - os: windows-2022
            shell: /bin/bash
          - os: windows-2022
            shell: /bin/dash
          - os: windows-2022
            shell: /bin/zsh
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5 # v2.0.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            artifactcache.actions.githubusercontent.com:443
            azure.archive.ubuntu.com:80
            github.com:443
            nodejs.org:443
            objects.githubusercontent.com:443
            pipelines.actions.githubusercontent.com:443
            registry.npmjs.org:443
      - name: Checkout repository
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      - name: Create identifier
        uses: actions/github-script@d556feaca394842dc55e4734bf3bb9f685482fa0 # v6.3.3
        id: run-id
        with:
          result-encoding: string
          script: |
            const path = "${{ matrix.shell }}"
            const fileName = path.split(/\//g).pop()
            const shellName = fileName.endsWith(".exe") ?
              fileName.slice(0, -4) : fileName
            return `${{ matrix.os }}-${shellName}-${{ matrix.target }}`
      - name: Install Node.js
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3.5.1
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Cache corpus
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 # v3.0.11
        with:
          path: .corpus
          key: fuzz-${{ steps.run-id.outputs.result }}-${{ github.run_number }}
          restore-keys: |
            fuzz-${{ steps.run-id.outputs.result }}
      - name: Install Zsh
        if: ${{ matrix.shell == '/bin/zsh' }}
        run: sudo apt-get --assume-yes install zsh
      - name: Install dependencies
        run: npm ci
      - name: Fuzz (target '${{ matrix.target }}')
        id: fuzz
        shell: bash {0}
        env:
          FUZZ_SHELL: ${{ matrix.shell }}
        run: |
          timeout ${{ inputs.duration }} npm run fuzz ${{ matrix.target }}
          export EXIT_CODE=$?
          if [[ ($EXIT_CODE == 124) ]]
          then
            echo "fuzz-error=false" >> $GITHUB_OUTPUT
            echo "script-error=false" >> $GITHUB_OUTPUT
          elif [[ ($EXIT_CODE == 1) ]]
          then
            echo "fuzz-error=true" >> $GITHUB_OUTPUT
            echo "script-error=false" >> $GITHUB_OUTPUT
          else
            echo "fuzz-error=false" >> $GITHUB_OUTPUT
            echo "script-error=true" >> $GITHUB_OUTPUT
            echo "exit-code="$EXIT_CODE >> $GITHUB_OUTPUT
          fi
      - name: Check for unexpected error
        if: ${{ steps.fuzz.outputs.script-error == 'true' }}
        run: |
          echo "Unexpected error: ${{ steps.fuzz.outputs.exit-code }}"
          exit 1
      - name: Upload crash (if any)
        if: ${{ steps.fuzz.outputs.fuzz-error == 'true' }}
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # v3.1.1
        with:
          name: fuzz-crash-${{ steps.run-id.outputs.result }}
          path: |
            .corpus/
            crash-*
      - name: Error for fuzz crash
        if: ${{ steps.fuzz.outputs.fuzz-error == 'true' }}
        run: exit 1
