name: Test
on:
  pull_request:
    paths:
      - "src/**.js"
      - "test/fuzz/corpus/*"
      - ".nvmrc"
      - "index.js"
      - "package-lock.json"
      - "rollup.config.js"
      - "stryker.config.json"
  push:
    paths:
      - "src/**.js"
      - "test/fuzz/corpus/*"
      - ".nvmrc"
      - "index.js"
      - "package-lock.json"
      - "rollup.config.js"
      - "stryker.config.json"
  schedule:
    - cron: "0 0 * * *"

permissions: read-all

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test
  benchmark:
    name: Benchmark
    needs: [test]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Cache benchmark data
        uses: actions/cache@v1
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: Run benchmark
        run: npm run benchmark | tee output.txt
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1.11.3
        with:
          comment-on-alert: true
          external-data-json-path: ./cache/benchmark-data.json
          fail-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file-path: output.txt
          tool: benchmarkjs
  coverage:
    name: Coverage
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run unit test with coverage
        run: npm run coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./reports/coverage/lcov.info
  mutation:
    name: Mutation
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run mutation test
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        run: npm run test:mutation
  property:
    name: Property
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run property tests
        run: npm run test:property
  fuzz:
    name: Fuzz
    needs: [test]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            shell: /bin/zsh
          - os: ubuntu-latest
            shell: /bin/bash
          - os: ubuntu-latest
            shell: /bin/dash
          - os: windows-latest
            shell: cmd.exe
          - os: windows-latest
            shell: powershell.exe
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Cache corpus
        uses: actions/cache@v2.1.7
        with:
          path: .corpus
          key: ${{ matrix.os }}-${{ matrix.shell }}-fuzz-${{ github.run_number }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.shell }}-fuzz-
      - name: Install Zsh
        if: ${{ matrix.shell == '/bin/zsh' }}
        run: sudo apt-get -y install zsh
      - name: Install dependencies
        run: npm ci
      - name: Fuzz
        id: fuzz
        shell: bash {0}
        env:
          FUZZ_SHELL: ${{ matrix.shell }}
        run: |
          timeout 20m npm run fuzz
          export EXIT_CODE=$?
          if [[ ($EXIT_CODE == 124) ]]
          then
            echo "::set-output name=fuzz-error::false"
            echo "::set-output name=script-error::false"
          elif [[ ($EXIT_CODE == 1) ]]
          then
            echo "::set-output name=fuzz-error::true"
            echo "::set-output name=script-error::false"
          else
            echo "::set-output name=fuzz-error::false"
            echo "::set-output name=script-error::true"
            echo "::set-output name=exit-code::"$EXIT_CODE
          fi
      - name: Check for unexpected error
        if: ${{ steps.fuzz.outputs.script-error == 'true' }}
        run: |
          echo "Unexpected error: ${{ steps.fuzz.outputs.exit-code }}"
          exit 1
      - name: Upload crash (if any)
        if: ${{ steps.fuzz.outputs.fuzz-error == 'true' }}
        uses: actions/upload-artifact@v2.2.4
        with:
          name: fuzz-crash-${{ matrix.os }}
          path: |
            .corpus/
            crash-*
      - name: Error for fuzz crash
        if: ${{ steps.fuzz.outputs.fuzz-error == 'true' }}
        run: exit 1
  transpile:
    name: CommonJS
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
      - name: Install Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Transpile to CommonJS
        run: npm run transpile
      - name: Test transpiled code
        run: npm run test:transpiled
