name: Weekly
on:
  schedule:
    - cron: "0 4 * * 6"
  workflow_dispatch: ~

permissions: read-all

jobs:
  npm-deps:
    name: Update transitive dependencies
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To push a commit
      pull-requests: write # To open a Pull Request
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Install Node.js
        uses: actions/setup-node@v6.2.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Create automation token
        uses: actions/create-github-app-token@v2.2.0
        id: automation-token
        with:
          app-id: ${{ secrets.AUTOMATION_APP_ID }}
          private-key: ${{ secrets.AUTOMATION_APP_PRIVATE_KEY }}
      - name: Install dependencies
        run: npm clean-install
      - name: Update dependencies
        run: |
          npm update --prefer-dedupe
      - name: Restore runtime dependency versions
        run: |
          npm install which@3.0.0
          sed -i 's/"which": "3.0.0"/"which": "^3.0.0 || ^4.0.0 || ^5.0.0 || ^6.0.0"/g' package*.json

          npm install @ericcornelissen/lregexp@1.0.3
          sed -i 's/"@ericcornelissen\/lregexp": "1.0.3"/"@ericcornelissen\/lregexp": "^1.0.3"/g' package*.json
      - name: Fix 'invalid typescript@5.6.1-rc' issue
        run: |
          npm install typescript@^5.0.0
          npm uninstall typescript
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8.0.0
        with:
          token: ${{ steps.automation-token.outputs.token }}
          title: Update transitive dependencies
          body: _This Pull Request was created automatically_
          branch: npm-transitive-dependencies
          labels: dependencies
          commit-message: Update transitive dependencies
          add-paths: |
            package.json
            package-lock.json
